form[id^="shifts-import-form"] .form-item--error-message,
form[id^="sales-targets-import-form"] .form-item--error-message,
form[id^="ope-category-import-form"] .form-item--error-message,
form[id^="course-import-form"] .form-item--error-message,
form[id^="medical-import-form"] .form-item--error-message,
form[id^="inquiry-type-import-form"] .form-item--error-message,
form[id^="discount-import-form"] .form-item--error-message,
form[id^="staff-search-import-form"] .form-item--error-message,
form[id^="credit-card-import-form"] .form-item--error-message,
form[id^="patient-tokki-import-form"] .form-item--error-message,
form[id^="clinic-import-form"] .form-item--error-message,
form[id^="loan-import-form"] .form-item--error-message,
form[id^="room-import-form"] .form-item--error-message,
form[id^="ads-list-import-form"] .form-item--error-message,
form[id^="fixed-phrase-import-form"] .form-item--error-message,
form[id^="ope-type-import-form"] .form-item--error-message,
form[id^="expense-subject-import-form"] .form-item--error-message,
form[id^="sales-divisions-import"] .form-item--error-message,
form[id^="illustration-import-form"] .form-item--error-message,
form[id^="payment-import-form"] .form-item--error-message,
form[id^="biz-type-import-form"] .form-item--error-message,
form[id^="brand-search-import-form"] .form-item--error-message,
form[id^="occupations-import-form"] .form-item--error-message,
form[id^="corporate-classification-import-form"] .form-item--error-message,
form[id^="area-import-form"] .form-item--error-message,
form[id^="analysis-area-group-import-form"] .form-item--error-message,
form[id^="analysis-area-import-form"] .form-item--error-message,
form[id^="tags-import-form"] .form-item--error-message {
    max-height: 350px;
}

form[id^="shifts-import-form"] .custom_submit_import_display,
form[id^="sales-targets-import-form"] .custom_submit_import_display,
form[id^="ope-category-import-form"] .custom_submit_import_display,
form[id^="course-import-form"] .custom_submit_import_display,
form[id^="medical-import-form"] .custom_submit_import_display,
form[id^="inquiry-type-import-form"] .custom_submit_import_display,
form[id^="discount-import-form"] .custom_submit_import_display,
form[id^="staff-search-import-form"] .custom_submit_import_display,
form[id^="credit-card-import-form"] .custom_submit_import_display,
form[id^="patient-tokki-import-form"] .custom_submit_import_display,
form[id^="clinic-import-form"] .custom_submit_import_display,
form[id^="loan-import-form"] .custom_submit_import_display,
form[id^="room-import-form"] .custom_submit_import_display,
form[id^="ads-list-import-form"] .custom_submit_import_display,
form[id^="fixed-phrase-import-form"] .custom_submit_import_display,
form[id^="ope-type-import-form"] .custom_submit_import_display,
form[id^="expense-subject-import-form"] .custom_submit_import_display,
form[id^="sales-divisions-import"] .custom_submit_import_display,
form[id^="illustration-import-form"] .custom_submit_import_display,
form[id^="payment-import-form"] .custom_submit_import_display,
form[id^="biz-type-import-form"] .custom_submit_import_display,
form[id^="brand-search-import-form"] .custom_submit_import_display,
form[id^="occupations-import-form"] .custom_submit_import_display,
form[id^="corporate-classification-import-form"] .custom_submit_import_display,
form[id^="area-import-form"] .custom_submit_import_display,
form[id^="analysis-area-group-import-form"] .custom_submit_import_display,
form[id^="analysis-area-import-form"] .custom_submit_import_display,
form[id^="tags-import-form"] .custom_submit_import_display {
    position: absolute;
    bottom: calc(100% - 48px);
    right: 0px;
}