// Reset Css
:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-family: $font_2;
  color: $color_2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font_1;
}

// Body
body[route-name="view.blog_show.page_1"] {
  background-color: red;
} 
