//Font
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Rubik+Distressed:regular);

$font_1: "Montserrat", sans-serif;
$font_2: "Lora", serif;
$font_3: "Rubik Distressed", serif;

//Color
$color_1: #fff;
$color_2: #000;
$color_3: #74c0fc;
$color_4: #dd9933;
$color_5: #9aaeb9;

$socialColours: (#f9c846, #3b5998, #da639f, #a2c7e5, #f30000, #b150e2);
